name: API testing

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  api-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install flake8
        run: pip install flake8

      - name: Lint with flake8
        run: flake8 .

      - name: Run tests
        run: python -m unittest tests/test_app.py
